<nav class="navbar navbar-expand-md navbar-dark bg-info" id="header">
    <div class="container">
      <a class="navbar-brand" href="#" id="nav">Logo Name</a>
      <button class="navbar-toggler collapsed border-0" type="button" data-toggle="collapse" data-target="#a" >
        <i class="fa-solid fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="a" >
        <ul class="navbar-nav ml-auto text-center"id="navbar">
          <li class="nav-item">
            <a class="nav-link" href="#">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">A propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Annonces</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Partenariat</a>
          </li>
        </ul>
      </div>
      <button class="btn btn-group-sm btn-success">S'inscrire</button>
    </div>
  </nav>